.inputBox {
    width: 100%;  
}

input[type="reset"] {
    background-color: red;
    color: white;
    border: white;
    padding: 5px 20px;
}

input[type="button"] {
    background-color: green;
    color: white;
    border: white;
    padding: 5px 20px;
}

.errorAlert {
    color: red; 
}
p {
    font-size: 15px;
}
.successAlert{
    color: green;
}
body {
    background-color: lightslategrey;
    font-family: Oswald;
    font-size: 20px;
}

div {
    width: fit-content;
    background-color: white;
    padding: 20px 25px 20px 20px;
    border-radius: 5px;
    margin: 10px auto;
}